@use "sass:list";
@use "sass:color";

$light-green: #999F55;
$dark-green: #48521D;
$blue: #C3BFF0;

@media screen and (min-width: 375px) and (max-width: 900px){
    .about-container{
        flex-direction: column;
        text-align: center;
    }
    .text-about-block{
        padding: 20px 0 !important;
    }
    .text-about{
        margin-bottom: 30px;
    }
    .text-about-h2{
        font-size: 24px !important;
    }
    .text-about-punkt{
        font-size: 16px !important;
    }

    .btn-about{
        font-size: 24px !important;
        padding: 10px 20px !important;
    }
    .map{
        width: 294px !important;
        height: 247px !important;
    }
}

@media screen and (min-width: 900px) and (max-width: 1400px){
    .text-about-block{
        padding: 20px 0 !important;
    }
    
    .text-about-h2{
    font-size: 30px !important;
    }

    .text-about-punkt{
        font-size: 24px !important;
    }

    .map{
        width: 356px !important;
        height: 296px !important;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1800px){
    .map{
        width: 700px !important;
        height: 550px !important;
    }
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}
.text-about-block{
    padding: 40px 0;
    color: $dark-green;
}
.text-about-h2{
    font-size: 48px;
}
.text-about-punkt{
    font-size: 40px;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $blue;
}

.btn-about{
    font-size: 36px;
    border: none;
    background-color: $blue;
    border-radius: 50px;
    padding: 20px 45px;
    &:hover{
        background-color: #a59ef1;
        box-shadow: 0px 0px 20px $blue;
    }
}
.link-about{
    color: $dark-green;
    text-decoration: none;
}

.map{
    width: 972px;
    height: 787px;
    border: none;
}