@use "sass:list";
@use "sass:color";

@font-face{
    font-family: "Cantarell-bold";
    src: url(../../../public/fonts/Cantarell/Cantarell-Bold.ttf);
}
@font-face {
    font-family: "Cantarell-regular";
    src: url(../../../public/fonts/Cantarell/Cantarell-Regular.ttf);
}
@font-face {
    font-family: "Cantarell-italic";
    src: url(../../../public/fonts/Cantarell/Cantarell-Italic.ttf);
}

$font-bold: "Cantarell-bold", sans-serif;
$font-usual: "Cantarell-regular", sans-serif;
$font-italic: "Cantarell-italic", sans-serif;
$light-green: #999F55;
$dark-green: #48521D;
$header-text: 36px;

@media screen and (min-width: 375px) and (max-width: 800px) {
    .header{
        width: auto;
        flex-direction: column;
    }
    .header-nav{
        flex-direction: column;
        align-items: center;
    }
    .link{
        font-size: 24px !important;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px){
    .link{
        font-size: 30px !important;
    }
}

.header{
    background-color: $light-green;
    font-family: "Cantarell", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.header-nav{
    display: flex;
    justify-content: center;
}

.link{
    color: $dark-green;
    font-weight: bold;
    padding: 0 20px;
    font-size: $header-text;
    text-decoration: none;
    transition: 0.2s;
    &:hover{
        // color: #7e8c42;
        border-bottom: 1px solid $dark-green;
    }
}