@use "sass:list";
@use "sass:color";

$light-green: #999F55;
$dark-green: #48521D;
$blue: #C3BFF0;

@media screen and (min-width: 375px) and (max-width: 900px){
    .catalog-h2{
        font-size: 40px !important;
    }
    .catalog-card{
        width: 220px !important;
        
    }
    .catalog-p{
        font-size: 32px !important;
    }

    .img-wrap{
        width: 220px !important;
        height: 211px !important;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px){
    .catalog-card{
        width: 300px !important;
    }
    .catalog-p{
        font-size: 30px !important;
    }

    .img-wrap{
        width: 300px !important;
        height: 278px !important;
    }
}


.catalog-h2{
    text-align: center;
    margin: 20px 0;
    color: $dark-green;
    font-size: 64px;
}
.catalog{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: $dark-green;
}
.catalog-card{
    border-radius: 20px;
    background-color: $blue;
    margin: 40px 65px;
    width: 361px;
    height: auto;
}
.catalog-p{
    font-size: 36px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
    overflow-wrap: break-word;
    // word-break: break-all;
}
.img-wrap{
    width: 360px;
    height: 330px;
}
.img-drink-catalog{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    border-radius: 20px;
    // object-position: 0 0;
}