@use "sass:list";
@use "sass:color";

$light-green: #999F55;
$dark-green: #48521D;
$blue: #C3BFF0;

@media screen and (min-width: 375px) and (max-width: 960px){
    
    .banner{
        height: 200px !important;
    }
    .profile{
        display: flex !important;
        flex-direction: column !important;
    }
    .info{
        flex-direction: column;
    }
    .upload-btn.small{
        bottom: 10px !important;
        right: 40% !important;
        position: fixed;
    }
}


.simple-account {
    background: no-repeat;
}

.banner {
    position: relative;
    height: 300px;
    overflow: hidden;
    background: no-repeat;
    background-size: cover;
}

.banner-img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* Карандашики видны ТОЛЬКО когда editMode = true */
.upload-btn {
    position: absolute;
    bottom: 50px;
    right: 20px;
    background: rgba(0,0,0,0.7);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-btn.small {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 20px;
}

.profile {
    background: white;
    padding: 10px;
    margin-top: -50px;
    position: relative;
    text-align: center;
    display: flex;
}

.avatar-container {
    position: relative;
    display: inline-block;
    margin-top: -70px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}



.info {
    margin: 5px 0;
    color: $dark-green;
    font-size: 24px;
    display: flex;
    justify-content: center;
    p {
        margin: 0 40px;
    }
}


.edit-btn {
    background: $blue;
    color: $dark-green;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    font-size: 24px;
    
    &:hover {
        background: darken($light-green, 10%);
    }
}

.logout-btn {
    background: $blue;
    color: $dark-green;
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    
    &:hover {
        background: rgb(109, 109, 255);
    }
}