@use "sass:list";
@use "sass:color";
@font-face{
    font-family: "Cantarell-bold";
    src: url(../../../public/fonts/Cantarell/Cantarell-Bold.ttf);
}
@font-face {
    font-family: "Cantarell-regular";
    src: url(../../../public/fonts/Cantarell/Cantarell-Regular.ttf);
}
@font-face {
    font-family: "Cantarell-italic";
    src: url(../../../public/fonts/Cantarell/Cantarell-Italic.ttf);
}

$font-bold: "Cantarell-bold", sans-serif;
$font-usual: "Cantarell-regular", sans-serif;
$font-italic: "Cantarell-italic", sans-serif;
$light-green: #999F55;
$dark-green: #48521D;
$blue: #C3BFF0;

@media screen and (min-width: 375px) and (max-width: 960px){
    
    .banner{
        height: 200px !important;
    }
    .profile{
        display: flex !important;
        flex-direction: column !important;
    }
    .info{
        flex-direction: column;
    }
    .upload-btn.small{
        bottom: 10px !important;
        right: 40% !important;
        position: fixed;
    }
    .response{
        padding: 10px !important;
    }
}


.simple-account {
    background: no-repeat;
}

.banner {
    position: relative;
    height: 300px;
    overflow: hidden;
    background: no-repeat;
    background-size: cover;
}

.banner-img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* Карандашики видны ТОЛЬКО когда editMode = true */
.upload-btn {
    position: absolute;
    bottom: 50px;
    right: 20px;
    background: rgba(0,0,0,0.7);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-btn.small {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 20px;
}

.profile {
    background: white;
    padding: 10px;
    margin-top: -50px;
    position: relative;
    text-align: center;
    display: flex;
    
}

.avatar-container {
    position: relative;
    display: inline-block;
    margin-top: -70px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}



.info {
    margin: 5px 0;
    color: $dark-green;
    font-family: $font-usual;
    font-size: 40px;
    display: flex;
    justify-content: center;
    p {
        margin: 0 40px;
    }
}


.edit-btn {
    background: $blue;
    color: $dark-green;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    font-size: 24px;
    font-family: $font-italic;
    &:hover {
        background: darken($light-green, 10%);
    }
}

.logout-btn {
    background: $blue;
    color: $dark-green;
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    
    &:hover {
        background: rgb(109, 109, 255);
    }
}


.response-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 40px;
        color: $dark-green;
    }
}
.response{
    font-size: 36px;
    color: $dark-green;
    border: 1px solid $dark-green;
    border-radius: 4px;
    padding: 20px;
}
.response-top{
    display: flex;
}
.star{
    font-size: 40px;
    &:hover{
        color: #fffc65;
    }
    // span{
    //     &:hover{
    //         color: #fffc65;
    //     }
        
    // }
}