
$dark-green: #48521D;

@media screen and (min-width: 375px) and (max-width: 900px){
    .footer{
        font-size: 20px !important;
    }
}
@media screen and (min-width: 900px) and (max-width: 1200px){
    .footer{
        font-size: 30px !important;
        padding: 20px 0 !important;
    }
    
}

.footer{
    background-color: $dark-green;
    color: #F5F5F5;
    text-align: center;
    font-size: 32px;
    padding: 40px 0;
    margin-top: 95px;
}